#scroll-section-about {
  width: 100%;
  background-color: #f584f1;
}

.about-name-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 125px;
  height: 100%;
}

.about-name {
  font-size: 100px;
  letter-spacing: -0.02em;
  color: #ffffff;
  transition: color 1s;
}

.about-selected-name {
  font-size: 100px;
  letter-spacing: -0.02em;
  color: #000000;
  transition: color 1s;
}

.about-selected-job {
  margin-top: -30px;
  font-family: 'Noto Sans KR';
}

.about-job {
  display: none;
}

.about-image-box {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}
