@mixin gradient {
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: 92vh;
}

@mixin image-cover-background {
  object-fit: cover;
  background: linear-gradient(0deg, rgb(0 0 0 / 45%), rgb(0 0 0 / 45%));
  box-shadow: 15px 15px 100px 5px rgb(0 0 0 / 45%);
}

@mixin image-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

@mixin active {
  visibility: visible;
  opacity: 1;
}

.dailybook-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &-box {
    @include image-box;

    transition: all 1s;

    &.view {
      z-index: 3;
    }

    &.first {
      @include active;

      padding-bottom: 100px;
      z-index: 3;
      pointer-events: auto;
      cursor: pointer;
    }

    &.second {
      @include active;

      padding-top: 40px;
      z-index: 2;
    }

    &.third {
      @include active;

      padding-top: 180px;
      z-index: 1;
    }
  }

  &-cover {
    @include image-cover-background;

    transform: rotate(0deg);
    transition-duration: 1s;

    &:hover {
      filter: grayscale(90%);
      transform: rotate(20deg);
      transition-duration: 1s;
    }

    &-background {
      @include image-cover-background;
    }
  }
}

.dailybook-content {
  &-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-title {
    white-space: nowrap;
    position: absolute;
    top: -110px;
    left: 5%;
    z-index: 1;
    user-select: none;
    font-family: Rantera, sans-serif;
    font-size: 20vw;
    line-height: 386px;
    text-align: center;
    letter-spacing: -0.01em;
    background: linear-gradient(180deg, #fff 0%, #ebebeb 100%);
    background-clip: text;
    /* stylelint-disable */
    -webkit-background-clip: text;
    /* stylelint-enable */
    -webkit-text-fill-color: transparent;
  }

  &-description {
    position: absolute;
    width: 245px;
    height: 60px;
    left: 60%;
    top: 50%;
    user-select: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #fff;
  }
}

.dailybook-date-dialog {
  position: fixed;
  left: -100px;
  top: 35%;
  color: #fff;
  font-family: Rantera, sans-serif;
  font-size: 2.2em;
  width: 250px;
  height: 250px;

  &-text {
    visibility: hidden;
    padding-bottom: 300px;
    position: absolute;
    transition: transform 1s;
  }
}

.visible {
  visibility: visible;
}

.dailybook-scroll-down-floating {
  position: fixed;
  bottom: 0;
  left: 45%;
}

.dailybook0 {
  background: #e0b0b0;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 70%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook1 {
  background-color: #b0c9e0;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook2 {
  background-color: #e0c7b0;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook3 {
  background-color: #bfb0e0;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook4 {
  background-color: #b0e0d7;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook5 {
  background-color: #67a6c0;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook6 {
  background-color: #b0e0b4;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook7 {
  background-color: #a75490;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook8 {
  background-color: #eba48e;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook9 {
  background-color: #7c7baf;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}

.dailybook10 {
  background-color: #a75490;

  &-gradient {
    @include gradient;

    background: linear-gradient(180deg, rgba(255 98 98 / 0%) 0%, rgba(255 90 90 / 65%) 51.04%, #e0b0b0 100%);
  }
}
