.detail-container {
  display: block;
  height: 100vh;
}

.detail-block {
  width: 100vw;
  height: 100vh;
}

.detail-cover-container {
  position: relative;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1;
  }

  .close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .contents-wrapper {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10%;

    .date {
      display: inline;
      padding: 5px 20px;
      background-color: #bbb;
      border-radius: 50px;
    }

    .title {
      font-size: 15vw;
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 40px;
    margin-top: auto;
    width: 52.5px;
    height: 70.5px;
  }

  .cover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.detail-keyword-container {
  position: relative;
  overflow: hidden;

  .keywords-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
    z-index: 1;

    .keyword {
      color: white;
      font-size: 10vh;
    }
  }
}

.detail-description-container {
  position: relative;
  overflow: hidden;

  .description-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50vw;
    padding-right: 5vw;
    color: white;

    .title {
      font-size: 10vw;
    }

    .description {
      margin-top: 30px;
    }
  }

  .image-slide {
    position: absolute;
    top: 0;

    &.up {
      left: 5vw;
      animation: image-slide 25s linear infinite;
    }

    &.down {
      left: 25vw;
      animation: image-slide 25s linear infinite reverse;
    }

    .image-slide-element {
      border-radius: 15px;
      width: 18vw;
      margin-bottom: 20px;
    }
  }

  @keyframes image-slide {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-50%);
    }
  }
}

hr {
  color: white;
  background: white;
  border: 0;
  height: 3px;
}

hr.short-line {
  width: 40px;
}
