.detail-container {
  display: block;
  height: 100vh;
}

.detail-block {
  width: 100vw;
  height: 100vh;
}

hr {
  background: white;
  border: 0;
  height: 3px;
}

hr.short-line {
  width: 40px;
}

.detail-cover-container {
  position: relative;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1;
  }

  .close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .contents-wrapper {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10%;

    .date {
      display: inline;
      padding: 5px 20px;
      border-radius: 50px;
    }

    .title {
      font-size: 15vw;
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 40px;
    margin-top: auto;
    width: 52.5px;
    height: 70.5px;
  }

  .cover-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: filter, bottom, background-color;
    transition-duration: 0.5s;
    max-width: none;
    transform-origin: 0 0;

    &.blur {
      filter: blur(5px) brightness(100%);
    }

    &.show {
      filter: blur(0) brightness(60%);
    }
  }
}

.detail-keyword-container {
  overflow: hidden;

  .keywords-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
    z-index: 3;
    width: max-content;
    transform: translate(-100%);

    &.animate {
      animation: slide-left-in 1.5s ease-out;
      transform: translate(0);
    }

    .keyword {
      color: white;
      font-size: 10vh;
      width: 100%;
    }
  }

  @keyframes slide-left-in {
    from {
      transform: translate(-100%, 0);
    }

    to {
      transform: translate(0);
    }
  }
}

.detail-description-container {
  position: relative;
  overflow: hidden;

  .description-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50vw;
    padding-right: 5vw;
    color: white;

    .title {
      font-size: 10vw;
    }

    .description {
      margin-top: 30px;
    }
  }

  .image-slide {
    position: absolute;
    top: 0;

    &.up {
      left: 5vw;
      animation: image-slide 20s linear infinite;
    }

    &.down {
      left: 25vw;
      animation: image-slide 20s linear infinite reverse;
    }

    &:hover,
    &.pause {
      animation-play-state: paused;
    }

    .image-slide-element {
      border-radius: 15px;
      width: 18vw;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }

  .image-wrapper {
    .image-slide {
      left: 10vw;
      height: 100vh;
      animation: none;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .image-slide-element {
        width: 30vw;
      }
    }
  }

  @keyframes image-slide {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  .modal {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    backdrop-filter: blur(5px);

    .image-wrapper {
      position: relative;

      img {
        border-radius: 10px;
        width: 40vw;
      }

      .close-button {
        position: absolute;
        top: 0;
        right: -70px;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.detail-memories-container {
  color: rgb(252 100 8);

  .title-wrapper {
    padding-top: 80px;
    margin-left: 80px;
    margin-bottom: 120px;

    hr {
      width: 50px;
      background: rgb(252 100 8);
      margin-bottom: 20px;
    }
  }

  .keyword-wrapper {
    display: flex;
    animation: keyword-slide 8s linear infinite;
    font-size: 6vw;
    margin-top: 3vh;
    padding: 0;
    width: 200%;
    justify-content: space-around;

    &.reverse {
      animation-direction: reverse;
    }

    .keyword {
      box-sizing: border-box;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }

  @keyframes keyword-slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}
