.gallery {
  overflow: hidden;
  background-color: $gallery-background;
}

.title-animation {
  transition: transform 3s ease-in-out;
}

.grid-container {
  position: relative;
  top: calc(-63px - 80px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 0.5rem;

  .grid-item {
    height: fit-content;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0.5rem rgba(0 0 0 / 50%);
    }
  }

  img {
    width: 100%;
  }
}
