.scroll-snap-container {
  scroll-snap-type: y mandatory;
}

.scroll-snap {
  scroll-snap-align: start;
}

.home-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.home-image-hover {
  background: linear-gradient(0deg, rgb(0 0 0 / 45%), rgba(0 0 0 / 45%));
  box-shadow: 15px 15px 100px 5px rgb(0 0 0 / 45%);
}

.home-image-cover {
  object-fit: cover;
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 35%;
  background: linear-gradient(0deg, rgb(0 0 0 / 45%), rgb(0 0 0 / 45%));
  box-shadow: 15px 15px 100px 5px rgb(0 0 0 / 45%);

  &:hover {
    filter: grayscale(90%);
  }
}

.home-image-cover-second {
  object-fit: cover;
  position: absolute;
  z-index: 2;
  top: 22%;
  left: 37%;
  background: linear-gradient(0deg, rgb(0 0 0 / 45%), rgb(0 0 0 / 45%));
  box-shadow: 15px 15px 100px 5px rgb(0 0 0 / 45%);
}

.home-image-cover-third {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 24%;
  left: 39%;
  background: linear-gradient(0deg, rgb(0 0 0 / 45%), rgb(0 0 0 / 45%));
  box-shadow: 15px 15px 100px 5px rgb(0 0 0 / 45%);
}

.home-content-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-date-dialog {
  position: fixed;
  left: 0;
  top: 35%;
  color: #fff;
  font-family: Rantera, sans-serif;
  font-size: 2.5em;
  padding-left: 15px;
}

.home-date-dialog-prev {
  transform: rotate(0.8rad);
}

.home-date-dialog-cur {
  padding-bottom: 70px;
  transform: rotate(1.6rad);
}

.home-date-dialog-next {
  transform: rotate(2.3rad);
}

.home-scroll-down-floating {
  position: fixed;
  bottom: 0;
  left: 45%;
}

.home-content-title {
  position: absolute;
  top: -63px;
  left: 5%;
  z-index: 1;
  user-select: none;
  font-family: Rantera, sans-serif;
  font-size: 27em;
  line-height: 386px;
  text-align: center;
  letter-spacing: -0.01em;
  background: linear-gradient(180deg, #fff 0%, #ebebeb 100%);
  background-clip: text;
  // TODO: autoprefixer 필요할듯? 왜깨짐
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content-description {
  position: absolute;
  width: 245px;
  height: 60px;
  left: 60%;
  top: 50%;
  user-select: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #fff;
}

.home-first {
  background-color: #e0d0b0;
}

.home-second {
  background-color: #b0c9e0;
}

.home-third {
  background-color: #bcb0e0;
}
