@import './global';
@import './color';
@import './variable';
@import './landing';
@import './dailyBook';
@import './gallery';
@import './detail';
@import './shared';
@import './about';

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Rantera, 'Noto Sans KR', sans-serif;
}
