@import './global.scss';
@import './_color.scss';
h1 {
  font-family: 'Rantera', 'Noto Sans KR';
}

.gallery {
  background-color: $gallery-background;
}

.sub-title {
  font-weight: 400;
  font-size: 400px;
  line-height: 386px;
  letter-spacing: -0.01rem;
  color: $white-0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 0.5rem;

  .grid-item {
    height: fit-content;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
  }

  img {
    width: 100%;
  }
}
