#landing {
  &.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    color: white;
    font-size: 25vw;
    text-align: center;
    z-index: 1;
    animation: 2.5s ease-out 0s 1 title-wait, 1s ease-in 2.5s title-slide-top-in;

    @keyframes title-wait {
      from {
        transform: translateY(-80vh);
      }

      to {
        transform: translateY(-80vh);
      }
    }

    @keyframes title-slide-top-in {
      from {
        transform: translateY(-80vh);
      }

      to {
        transform: translateY(0);
      }
    }
  }

  .background {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 0);
    min-width: 700px;
    animation: 2s ease-out bg-slide-bottom-in;

    @keyframes bg-slide-bottom-in {
      from {
        bottom: -100%;
      }

      to {
        bottom: -10%;
      }
    }
  }

  .scroll-to-enter {
    &::before,
    &::after {
      display: block;
      content: '';
      width: 1px;
      height: 45px;
      background: #d9d9d9;
    }

    position: absolute;
    bottom: 15px;
    font-family: Rantera, 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:
      scroll-wait 5s ease-out 1,
      scroll-slide-top-in 1s ease-out 5s 1,
      floating 3.5s 6.5s infinite;

    @keyframes scroll-wait {
      from {
        bottom: -150px;
      }

      to {
        bottom: -150px;
      }
    }

    @keyframes scroll-slide-top-in {
      from {
        bottom: -150px;
      }

      to {
        bottom: 15px;
      }
    }
  }

  @keyframes floating {
    10% {
      bottom: 15px;
    }

    40% {
      bottom: 40px;
    }

    60% {
      bottom: 40px;
    }

    90% {
      bottom: 15px;
    }
  }
}
