.container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.scroll-snap-container {
  scroll-snap-type: y mandatory;
}

.scroll-snap {
  scroll-snap-align: start;
}

.floating {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  &-center {
    position: relative;
    height: 160px;
    margin: auto;
    width: 127px;
  }
}

.sub-title {
  top: $title-top;
  text-align: center;
  font-weight: 400;
  font-size: 20vw; // 400px
  line-height: 19.965vw; // 386px
  letter-spacing: -0.01rem;
  color: $white-0;
  white-space: nowrap;
}
